<% content_for :title, "Editing booking equipment" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing booking equipment</h1>

  <%= render "form", booking_equipment: @booking_equipment %>

  <%= link_to "Show this booking equipment", @booking_equipment, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= link_to "Back to booking equipment", booking_equipments_path, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
